bin/
gen/
obj/
proguard/
apk/
.settings/
docs/api/
.idea/
on-project/mock/bakup/
#out/
repo/
target/
output/


coverage.em
lint.xml

.classpath
.project
project.properties
local.properties

ut/coverage
ut/report_tests
ut/temporary
ut/report

build.gradle
settiongs.gradle
.idea
build
*.iml
.DS_Store

*.apk
*.zip
Demo/libs/MVSDK.jar
Demo/libs
